﻿* {
    box-sizing: border-box;
    background-color: black;
    color: white;
}


html, body {
    font-family: Consolas, monospace;
    height: 100%;
    margin: 0;
}

button {
    border: 1px solid white;
}

.fullHeight {
    height: 100%;
}

.root {
    height:100%;
    display: flex;
    flex-direction: column;
}

.menu, .filters {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.menu div, .filters input {
    font-size: 15px;
    height: 30px;
    flex: 0 1 200px;
    border: 1px solid white;
    text-align: center;
    line-height: 28px;
    min-width: 0;
}

.filters button {
    height: 30px;
}

.alchemize {
    flex: 0 1 50px;
    font-size: 50px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.menu {
    margin-top: 20px;
}

.menu div.active {
    color: black;
    background-color: white;
}

.menu div:first-child, .filters input:first-child{
    border-radius: 15px 0 0 15px;
}

.menu div:last-child, .filters input:last-child {
    border-radius: 0 15px 15px 0;
}

.itemsList {
    padding: 0;
    overflow-y: auto;
    margin: 20px 0;
}

.itemsList li {
    list-style-type: none;
    margin: 0 20px 20px 20px;
}

.name {
    min-height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.name > * {
    margin-right: 10px;
}

.vendorsButton {
    font-weight: normal;
    font-size: 1rem;
}

.properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.properties div {
    border: 1px solid darkgray;
    padding: 5px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.alchemizer {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    overflow-y: auto;
    margin-top: 20px;
}

.animateAlchemizer {
    animation: alchemizerAnimation 0.5s linear infinite alternate;
}

@keyframes alchemizerAnimation {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(90deg); }
}

.alchemizer > div {
    border: 1px solid white;
    margin: 0 10px 20px 10px;
    padding: 10px;
}

.with {
    font-style: italic;
    color: darkgray;
}

.effects {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .alchemizer {
        grid-template-columns: 1fr;
    }

    .properties {
        grid-template-columns: 1fr 1fr;
    }
}